<%= render "shared/navbar" %>

<div class="banner" style=" ">
  <div class="banner-content text-center d-flex">
    <input class="form-control" type="text" placeholder="Address..." aria-label="Search">
    <select class="form-control" type="text" placeholder="Cuisine type" aria-label="Search">
      <option>Italian</option>
      <option>French</option>
      <option>American</option>
      <option>Asian</option>
      <option>Belgian</option>
    </select>
    <input class="form-control" type="datetime-local" placeholder="All addresses" aria-label="Search">
    <select class="form-control" type="text" placeholder="Number of persons" aria-label="Search">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <a class="btn btn-flat" href="#">Go</a>
  </div>
</div>

<div class="container">
  <div class="card-grid" id="restaurants">
    <% @restaurants.each do |restaurant| %>
      <div class="card-resto">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-resto-infos">
          <div>
            <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
            <p><%=h truncate(restaurant.content, :length => 80) %></p>
          </div>
          <p class="card-resto-pricing"> <%= restaurant.price_indication %></p>
        </div>
        <div class="card-resto-category">
          <p><%= restaurant.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
