
<div>
  <%= simple_form_for(@restaurant, url: restaurants_path, method: :get) do |f| %>
    <div class="form-group">
      <%= f.input :name, placeholder: 'Name of the restaurant' %>
    </div>
    <div class="form-group">
      <%= f.input :address, placeholder: 'Address of the restaurant' %>
    </div>
    <div class="form-group">
      <%= f.input :price_indication, collection: ["€", "€€", "€€€", "€€€€"] %>
    </div>
    <%= f.submit "Go", value: "restaurant_search" %>
  <% end %>
</div>
<div class="search-page">
  <div class="flex-card-container">
    <% @restaurants.each do |restaurant| %>
      <div class="card-resto">
        <%= cl_image_tag(restaurant.images.first.cloudinary_url, width: 400, height: 300, crop: :fit) %>
        <div class="card-resto-infos" style="text-decoration: none;">
          <h2><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-dark" %></h2>
          <div class="card-resto-pricing">
            <p> <%= restaurant.price_indication %></p>
          </div>
        </div>
        <div class="card-resto-content">
          <p><%= truncate(restaurant.content, :length => 80) %></p>
        </div>
        <div class="card-resto-category">
          <p><%= restaurant.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex-map col-5">
    <img id="map" src='https://api.mapbox.com/[...]?access_token=pk.eyJ1IjoiZ29ya2Fwb3BvZmYiLCJhIjoiY2sycTFwemRkMDlvejNobDR6bzFtMXM4NyJ9.HVoVhbiAIIuW3n2gzp4LCw'>
  </div>
</div>