<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>

<%= simple_form_for(@restaurant, url: restaurants_path, method: :get) do |f| %>
  <div class="form-group">
    <%= f.input :name, placeholder: 'Name of the restaurant' %>
  </div>
  <div class="form-group">
    <%= f.input :address, placeholder: 'Address of the restaurant' %>
  </div>
  <div class="form-group">
    <%= f.input :price_indication, collection: ["€", "€€", "€€€", "€€€€"] %>
  </div>
  <%= f.submit "Go", value: "restaurant_search" %>
<% end %>
