<%= render "shared/navbar" %>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="flex-main-img col-12">
      <img src="#" alt="Restaurant picture">
    </div>
    <div class="flex-title text-center col-12">
      <div class="name">
        <h1><strong><%="#{@restaurant.name}"%></strong></h1>
      </div>
      <div class="description">
        <h4><light><%="#{@restaurant.description}"%></light></h4>
      </div>
    </div>
    <div class="flex-content col-8" style="background-color: transparent;">
        <p><%="#{@restaurant.content}"%></p>
    </div>
    <div class="flex-sidebar-restaurant col-4">
      <div class="flex-info-restaurant">
        <p id="info"><%="#{@restaurant.address}" %></p>
        <p id="info"><%="#{@restaurant.website}" %></p><p id="info"><%="#{@restaurant.phone_number}" %></p>
        <p id="info"><%="#{@restaurant.opening_hours}" %></p>
        <p id="info"><%="#{@restaurant.price_indication}" %></p>
      </div>
      <a href="https://deliveroo.be/fr" class="btn btn-link btn-outline-success" id="booking-btn">Deliveroo</a>
      <a href="https://www.thefork.com/" class="btn btn-outline-primary" id="booking-btn">Book a table</a>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
